{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body"> Create New Survey</div>
            <a class="btn btn-info btn-lg" href="{% url 'survey_create' %}">Create survey</a>
        </div>
        <div class="tile">
            {% if surveys %}
            <div class="tile-body"><h1>Your Surveys</h1></div>

            <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid"
                   aria-describedby="sampleTable_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"
                        aria-sort="ascending"
                        aria-label="Name: activate to sort column descending">Title
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"
                        aria-label="Position: activate to sort column ascending">Created At
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"
                        aria-label="Office: activate to sort column ascending">Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for survey in surveys %}
                <tr role="row" class="even">
                    <td>{{ survey.title }}</td>
                    <td>{{ survey.pub_date }}</td>
                    <td>
                        {% if survey.is_active %}
                        <a href="{% url 'survey_detail' survey.pk %}">
                            <button class="btn btn-primary btn-lg">view</button>
                        </a>
                        {% else %}
                        <a href="{% url 'survey_edit' survey.pk %}">
                            <button class="btn btn-secondary btn-lg">edit</button>
                        </a>
                        {% endif %}
                        <form method="post" action="{% url 'survey_delete' survey.pk %}" style="display: inline-block;">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-lg">delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="tile-body"><h1>No Surveys yet!</h1></div>
            <div>You don't have any surveys,try creating one first.</div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}