{% extends 'attendsurveylist.html' %}
{% block survey %}
<div class="row" style="margin:20px 40px;">
    <br>
    <br>
    <h1>        {{ survey.title }}    </h1>
    <small>You have been invited to take this survey</small>
                <br>
            <br>
    <form method="post">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form }}
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Start survey</button>
        </div>
</form>
</div>
{% endblock %}
